@media screen and (min-width: 1801px) {
  body {
    max-width: 80%;
  }
  #nameUnFixed {
    margin-left: 20%;
  }

  .whitespace {
    height: 51rem;
  }
}

@media screen and (min-width: 2500px) {
  #nameFixed {
    margin-left: 20rem;
  }
  .bread-text {
    max-width: 60%;
  }
  body {
    max-width: 40%;
    background-color: silver;
  }
  .whitespace {
    height: 95rem;
  }
}

@media screen and (min-width: 6000px) {
  .whitespace {
    height: 200rem;
  }
  #nameFixed {
    margin-left: 10%;
  }
  body {
    max-width: 40%;
    background-color: gold;
  }
}
