@media screen and (min-width: 1801px) {
  body {
    max-width: 80%;
  }
  #nameUnFixed {
    margin-left: 20%;
  }

  .whitespace {
    height: 25rem;
  }
}

@media screen and (min-width: 2500px) {
  #nameFixed {
    margin-left: 0;
  }
  .bread-text {
    max-width: 60%;
  }
  body {
    max-width: 50%;
  }
}

@media screen and (min-width: 3000px) {
  .whitespace {
    height: 200rem;
  }
  #nameFixed {
    margin-left: 10%;
  }
  body {
    max-width: 25%;
  }
}
