@media all and (max-width: 600px) {
  body {
    /* background-color: violet; */
    max-width: 100%;
  }
  .small {
    font-size: 1rem;
  }

  .medium {
    font-size: 2rem;
  }

  .large {
    font-size: 2rem;
  }

  .xlarge {
    font-size: 3rem;
  }

  .medium-large {
    font-size: 1rem;
  }

  .container {
    height: 20rem;
    width: 10rem;
    word-wrap: break-word;
    margin-top: 5rem;
    z-index: 1;
    position: relative;
    left: 6rem;
  }

  #profile-picture-container {
    height: 20rem;
    width: 13rem;
    background-image: url(./assets/alexander.jpeg);
    background-size: cover;
    background-position-y: center;
    opacity: 60%;
    position: relative;
    bottom: 0rem;
    left: 0rem;
  }
  #nameUnFixed {
    margin-top: 7rem;
    margin-left: 10rem;
    z-index: 2;
  }
}

@media all and (min-width: 601px) and (max-width: 1800px) {
  body {
    width: 50%;
    background-color: yellow;
  }
}
