@media all and (max-width: 749px) {
  body {
    max-width: 100%;
  }

  /* #region ID's */
  #profile-picture-container {
    height: 20rem;
    width: 13rem;
    background-image: url(./assets/alexander.jpeg);
    background-size: cover;
    background-position-y: center;
    opacity: 60%;
    position: relative;
    bottom: 23rem;
    left: -5rem;
  }
  #nameUnFixed {
    margin-top: 7rem;
    margin-left: 10rem;
    z-index: 2;
  }
  #nameFixed {
    position: fixed;
    margin-left: 6%;
    margin-top: 7rem;
    z-index: 2;
  }
  /* #endregion ID's */

  /* #region reusable classes */
  /* #region font-sizing */

  .small {
    font-size: 1rem;
  }

  .medium {
    font-size: 0.7rem;
  }

  .large {
    font-size: 1.6rem;
  }

  .xlarge {
    font-size: 2rem;
  }

  .medium-large {
    font-size: 1rem;
  }
  /* #endregion font-sizing */

  .center-text {
    text-align: center;
    max-width: 80%;
  }

  .whitespace {
    height: 12rem;
  }

  .container {
    height: 20rem;
    width: 10rem;
    left: 6rem;
  }
  .margin-left {
    margin-left: 1rem;
  }

  .right {
    left: 2rem;
  }
  .bread-text {
    padding: 5rem 2rem 1rem 2rem;
    margin-bottom: 5rem;
  }
  /* #endregion reusable classes */
}

@media all and (max-width: 350px) {
  header {
    max-width: 70%;
  }

  .medium-large {
    font-size: 0.7rem;
  }

  .large {
    font-size: 1.2rem;
  }

  .whitespace {
    height: 2rem;
  }

  #profile-picture-container {
    height: 15rem;
    width: 9rem;
    bottom: 16.5rem;
    left: -1rem;
  }
}
