html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  background-color: rgb(245, 244, 221);
}

.container {
  height: 4rem;
  width: 50rem;
  word-wrap: break-word;
  margin-top: 40rem;
  z-index: 1;
}

/* ID's */
#nameFixed {
  position: fixed;
  margin-left: 5rem;
}

#nameUnFixed {
  margin-top: 7rem;
  max-width: 10rem;
}

#profile-picture {
  opacity: 50%;
  margin-bottom: 100rem;
  position: relative;
  bottom: 49rem;
  left: 0.3rem;
  width: 34rem;
}

/* reusable classes */

.center-text {
  text-align: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.medium {
  font-size: 2.25rem;
}

.large {
  font-size: 4rem;
}

.xlarge {
  font-size: 6rem;
}

.medium-large {
  font-size: 3rem;
}

.right {
  left: 50rem;
  position: relative;
}

.whitespace {
  height: 34rem;
}

.margin-bot {
  margin-bottom: 20rem;
}
