@media all and (min-width: 750px) and (max-width: 1800px) {
  body {
    max-width: 100%;
  }

  /* #region ID's */
  #profile-picture-container {
    height: 25rem;
    width: 18rem;
    bottom: 30rem;
    left: 3rem;
  }

  #nameFixed {
    margin-left: 6%;
  }

  #nameUnFixed {
    margin-left: 10rem;
  }
  /* #endregion ID's */

  /* #region reusable classes */
  /* #region font-sizing */
  .small {
    font-size: 2rem;
  }

  .medium {
    font-size: 2rem;
  }

  .medium-large {
    font-size: 2rem;
  }

  .large {
    font-size: 3rem;
  }

  /* #endregion font-sizing */

  .whitespace {
    height: 8rem;
  }

  .container {
    height: 30rem;
    width: 25rem;
    word-wrap: break-word;
    margin-top: 5rem;
    z-index: 1;
    position: relative;
    left: 10rem;
  }
  .right {
    left: 28rem;
  }
  .bread-text {
    padding: 5rem 1rem 1rem 1rem;
    margin-bottom: 5rem;
    max-width: 77%;
    margin: auto;
  }
  .margin-left {
    margin-left: 5rem;
  }
  /* #endregion reusable classes */
}
